<!DOCTYPE html>
<html lang="ja">

<head>
  <title>
    <%# <%= full_title(yield(:title))%> %>
  </title>
  <%= csrf_meta_tags %>
  <!-- <%= csp_meta_tag %> -->
  <%# <link href="https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap" rel="stylesheet"> %>
  <%# <link href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap" rel="stylesheet"> %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%# <%= render 'layouts/shim'%> %>
</head>

<body>
  <%# <%= render 'layouts/header'%> %>
  <div class="container">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%# <% flash.each do |message_type, message| %> %>
    <%# <div class="alert alert-<%= message_type %>"> %>
    <%# <%= message %> %>
    <%# </div> %>
    <%# <% end %> %>
    <%= yield %>
    <%# <%= render 'layouts/footer'%> %>
    <%# <%= debug(params) if Rails.env.development? %> %>
  </div>
</body>

</html>
